# Ignore all files in the root except the frontend and backend folders
/*
!.gitignore
!README.md
!/Media
!/ECommerceBackendNorthwind/
!/ECommerceFrontendAngular/

# Backend (Visual Studio/ .NET)
ECommerceBackendNorthwind/[Bb]in/
ECommerceBackendNorthwind/[Oo]bj/
ECommerceBackendNorthwind/[Oo]bj/
ECommerceBackendNorthwind/*/.vs/
ECommerceBackendNorthwind/.vs/
ECommerceBackendNorthwind/*.user
ECommerceBackendNorthwind/*.lock.json
ECommerceBackendNorthwind/*.ide
ECommerceBackendNorthwind/*.log
ECommerceBackendNorthwind/*.suo
ECommerceBackendNorthwind/*.psess
ECommerceBackendNorthwind/*.vscode
ECommerceBackendNorthwind/*.tsscache
ECommerceBackendNorthwind/*/*.csproj.user
ECommerceBackendNorthwind/*/*.csproj.vspscc
ECommerceBackendNorthwind/*/*.csproj.nuget.cache
ECommerceBackendNorthwind/*/project.lock.json
ECommerceBackendNorthwind/packages/
ECommerceBackendNorthwind/TestResults/
ECommerceBackendNorthwind/*.nupkg
ECommerceBackendNorthwind/nuget.exe
ECommerceBackendNorthwind/NuGet.config
ECommerceBackendNorthwind/NuGetScratch/
ECommerceBackendNorthwind/_ReSharper.Caches/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Angular frontend
ECommerceFrontendAngular/node_modules/
ECommerceFrontendAngular/dist/
ECommerceFrontendAngular/.angular/cache/
ECommerceFrontendAngular/.angular/analytics/
ECommerceFrontendAngular/.vscode/
ECommerceFrontendAngular/.idea/
ECommerceFrontendAngular/.env

# General
*.DS_Store
*.env
*.log